In [1]:
print("Hello")

Hello

#This is a level one header!

-item 1
-item 2

You can write in **Bold** or *italics*!

In [2]:
print("Hello_World!!!!")

Hello_World!!!!

In [3]:
print("Goodbye Moon")

Goodbye Moon

In [19]:
from math import pi, sin

In [20]:
def area_circle(r):
    return pi * (r**2)

In [21]:
area_circle(10)

314.1592653589793

In [7]:
def f():
    return 5
    return 6

In [8]:
f()

5

In [9]:
def g():
    print(5)
    return 6

In [10]:
g()

5

6

In [11]:
a = g()

5

In [12]:
a

6

In [23]:
for num in range (9):
    print (num)

0
1
2
3
4
5
6
7
8

In [25]:
[num **2 for num in range (9)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [32]:
c = "f"

In [33]:
[c.upper() for c in list ("abcde")]

['A', 'B', 'C', 'D', 'E']

In [34]:
list ("abcde")

['a', 'b', 'c', 'd', 'e']

In [13]:
md_tax = 1.08

In [14]:
def price_after_tax(price, sales_tax):
    return price * sales_tax

In [15]:
prices = [1.25, 3.99, 2.99, 9.99, 2.50]

In [35]:
def total_price(prices, sales_tax=1.08):
    for price in prices:
        return ([price_after_tax(price, sale_tax) for price in prices])

In [36]:
total_price(prices)

NameError: name 'sale_tax' is not defined

In [18]:
total_price(prices, 1.10)

22.792

In [38]:
def price_after_tax(price, sales_tax):
    return price * sales_tax

prices = [1.25, 3.99, 2.99, 9.99, 2.50]

def total_price(prices, sales_tax=1.08):
    total = 0
    for price in prices:
        total += price_after_tax(price, sales_tax)
    return total

def total_price(prices, sales_tax=1.08):
    return [price_after_tax(price, sales_tax)
                for price in prices]

total_price(prices)

total_price(prices, 1.10)

[1.375, 4.389, 3.2890000000000006, 10.989, 2.75]