# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Swiss Dog Owners

Please check out the data documentation on Kaggle, [here](https://www.kaggle.com/kmader/dogs-of-zurich/home)

## 1) Imports the libraries you'll need below.

In [9]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

## 2) Load the datasets
This time, there are _three_ datasets. Load them in as separate variables.

In [10]:
dogdata1 = "./20151001hundehalter.csv"
dogdata2 = "./20160307hundehalter.csv"
dogdata3 = "./20170308hundehalter.csv"

In [11]:
dogdata1= pd.read_csv('./data/20151001hundehalter.csv', sep=',')
dogdata2= pd.read_csv('./data/20160307hundehalter.csv', sep=',')
dogdata3= pd.read_csv('./data/20170308hundehalter.csv', sep=',')

In [15]:
dogdata3.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,126,61-70,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
1,171,61-70,m,3.0,31.0,Berner Sennenhund,NaN,NaN,NaN,I,2009,m,tricolor
2,574,61-70,w,2.0,23.0,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz
3,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
4,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz

In [16]:
pwd #dont need ./ for absolute path bc we are in the right folder

'C:\\Users\\606800\\Documents\\202-exercises'

## 3) Append them together.
In each dataset, make an appropriate `year` column. After that, append all three `DataFrame`s into one master `DataFrame`.

In [19]:
dogdata1['year'] = 2015
dogdata2['year'] = 2016
dogdata3['year'] = 2017

In [21]:
dogs = pd.concat([dogdata1, dogdata2, dogdata3])

In [22]:
dogs.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE,year
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun,2015
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle,2015
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun,2015
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz,2015
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss,2015

## 4) Check yourself
Did step 3 work? Did the data append properly?

In [24]:
dogs.shape

(21065, 14)

In [25]:
dogdata1.shape

(6980, 14)

In [26]:
dogdata2.shape

(6930, 14)

In [27]:
dogdata3.shape

(7155, 14)

## 5) Ach nein! This data set is in German!
Rename each column so that it is in English. The translations are in the data documentation.

**NOTE!!:** This dataset is on dog _**owners**_, and their dogs. Be careful when labeling columns.

Index(['HALTER_ID', 'ALTER', 'GESCHLECHT', 'STADTKREIS', 'STADTQUARTIER',
       'RASSE1', 'RASSE1_MISCHLING', 'RASSE2', 'RASSE2_MISCHLING', 'RASSENTYP',
       'GEBURTSJAHR_HUND', 'GESCHLECHT_HUND', 'HUNDEFARBE', 'year'],
      dtype='object')

## 6) One of these columns is totally blank.
Drop it permanently.

In [28]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21065 entries, 0 to 7154
Data columns (total 14 columns):
HALTER_ID           21065 non-null int64
ALTER               21060 non-null object
GESCHLECHT          21065 non-null object
STADTKREIS          21060 non-null float64
STADTQUARTIER       21060 non-null float64
RASSE1              21065 non-null object
RASSE1_MISCHLING    1939 non-null object
RASSE2              1590 non-null object
RASSE2_MISCHLING    0 non-null float64
RASSENTYP           20891 non-null object
GEBURTSJAHR_HUND    21065 non-null int64
GESCHLECHT_HUND     21065 non-null object
HUNDEFARBE          21065 non-null object
year                21065 non-null int64
dtypes: float64(3), int64(3), object(8)
memory usage: 2.4+ MB

In [36]:
dogs.drop("RASSE2_MISCHLING", axis=1, inplace=True)

KeyError: "['RASSE2_MISCHLING'] not found in axis"

In [37]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21065 entries, 0 to 7154
Data columns (total 13 columns):
HALTER_ID           21065 non-null int64
ALTER               21060 non-null object
GESCHLECHT          21065 non-null object
STADTKREIS          21060 non-null float64
STADTQUARTIER       21060 non-null float64
RASSE1              21065 non-null object
RASSE1_MISCHLING    1939 non-null object
RASSE2              1590 non-null object
RASSENTYP           20891 non-null object
GEBURTSJAHR_HUND    21065 non-null int64
GESCHLECHT_HUND     21065 non-null object
HUNDEFARBE          21065 non-null object
year                21065 non-null int64
dtypes: float64(2), int64(3), object(8)
memory usage: 2.9+ MB

## 7) Pugs
Create a filtered DataFrame that contains all of the pugs in this dataset. And yes, even the dog breeds are in German. Turns out, Germans call pugs "Mops".

![](imgs/chloe.jpg)

## 8) Tables
For the pug data, show me the tabular counts of:
* Human genders
* Dog genders
* Dog color (only show me the top 5)
* Dog gender _versus_ human gender

## 9) Translate the gender columns
Convert all instances of `m` to `M` and `w` to `F` in the pug data.

## 10) Translate colors
Still using the pug data. Use the provided data dictionary as a guide. Use this to translate each dogs color into English. For colors not in this dictionary, put `"other"`.

_Hint:_ I'm asking you to perform a merge, here.

_Double Hint:_ Think _very_ carefully about what kind of merge to use here.

## Grande Finale
This problem is going to involve a few steps. Read carefully. Pick apart each task and solve them one at a time. **This pertains to the full dataset, no longer just pugs.**

* Create a new column, `age_num`, which is the age of the owner. To do this, you'll calculate the average of the endpoints for the numbers in the `age` column. For example, `51-60` => `55.5`. I'll give you two hints on how to do this:
    - Create some sort of dictionary as in the last problem, and merge. (This is brute force, and requires a lot of work and is not extensible).
    - Create a function that will compute this for an individual string as input, and returns the approrpiate number. While this might sound more difficult, it actually involves less work, is cleaner, and is more extensible.
        - If you'd like a hint, I wrote a function for you in the `age_map.py` file. Read it in via an import. I'd like for you to write your own, though.
* Create a new column, `dog_age`, which is the age of the dogs _at that time_. You may use the dog's year of birth and the "year" column you made in part 3 to compute this.
* Take a look at this new `dog_age` variable. Drop the ones that make no sense and are likely the result of data errors.
* Subset to only include pugs (`Mops`), shiba inus (`Shiba Inu`), any dog with the word "Retriever" in its name, and any dog with the word "Terrier" in its name.
    - _Hint:_ Check out the `.str.contains()` method.
* Keep only breeds with more than 100 occurances.
* With this data subset, compute the average human and dog age for each breed.