# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Swiss Dog Owners

Please check out the data documentation on Kaggle, [here](https://www.kaggle.com/kmader/dogs-of-zurich/home)

## 1) Imports the libraries you'll need below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2) Load the datasets
This time, there are _three_ datasets. Load them in as separate variables.

In [2]:
dogs15 = pd.read_csv("data/20151001hundehalter.csv")
dogs16 = pd.read_csv("data/20160307hundehalter.csv")
dogs17 = pd.read_csv("data/20170308hundehalter.csv")

## 3) Append them together.
In each dataset, make an appropriate `year` column. After that, append all three `DataFrame`s into one master `DataFrame`.

In [3]:
dogs15['year'] = 2015
dogs16['year'] = 2016
dogs17['year'] = 2017
dogs = pd.concat([dogs15, dogs16, dogs17], axis=0)

## 4) Check yourself
Did step 3 work? Did the data append properly?

In [4]:
dogs.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE,year
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun,2015
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle,2015
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun,2015
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz,2015
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss,2015

In [5]:
dogs.shape

(21065, 14)

## 5) Ach nein! This data set is in German!
Rename each column so that it is in English. The translations are in the data documentation.

**NOTE!!:** This dataset is on dog _**owners**_, and their dogs. Be careful when labeling columns.

In [6]:
dogs.columns

Index(['HALTER_ID', 'ALTER', 'GESCHLECHT', 'STADTKREIS', 'STADTQUARTIER',
       'RASSE1', 'RASSE1_MISCHLING', 'RASSE2', 'RASSE2_MISCHLING', 'RASSENTYP',
       'GEBURTSJAHR_HUND', 'GESCHLECHT_HUND', 'HUNDEFARBE', 'year'],
      dtype='object')

In [7]:
dogs.head(3)

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE,year
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun,2015
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle,2015
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun,2015

In [8]:
dogs.columns = [
    'id', 'age', 'gender', 'district', 'quarter', 'breed1', 'breed1_hybrid',
    'breed2', 'breed2_hybrid', 'breed_type',
    'dog_year', 'dog_gender', 'color', 'year'
]

In [9]:
dogs.head()

,id,age,gender,district,quarter,breed1,breed1_hybrid,breed2,breed2_hybrid,breed_type,dog_year,dog_gender,color,year
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun,2015
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle,2015
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun,2015
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz,2015
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss,2015

## 6) One of these columns is totally blank.
Drop it permanently.

In [10]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21065 entries, 0 to 7154
Data columns (total 14 columns):
id               21065 non-null int64
age              21060 non-null object
gender           21065 non-null object
district         21060 non-null float64
quarter          21060 non-null float64
breed1           21065 non-null object
breed1_hybrid    1939 non-null object
breed2           1590 non-null object
breed2_hybrid    0 non-null float64
breed_type       20891 non-null object
dog_year         21065 non-null int64
dog_gender       21065 non-null object
color            21065 non-null object
year             21065 non-null int64
dtypes: float64(3), int64(3), object(8)
memory usage: 2.4+ MB

In [11]:
dogs.drop('breed2_hybrid', axis=1, inplace=True)

## 7) Pugs
Create a filtered DataFrame that contains all of the pugs in this dataset. And yes, even the dog breeds are in German. Turns out, Germans call pugs "Mops".

![](imgs/chloe.jpg)

In [12]:
pugs = dogs.loc[dogs['breed1'] == 'Mops', :]

## 8) Tables
For the pug data, show me the tabular counts of:
* Human genders
* Dog genders
* Dog color (only show me the top 5)
* Dog gender _versus_ human gender

In [13]:
pugs.gender.value_counts(dropna=False)

w    402
m    129
Name: gender, dtype: int64

In [14]:
pugs.dog_gender.value_counts(dropna=False)

m    294
w    237
Name: dog_gender, dtype: int64

In [15]:
pugs.color.value_counts().head()

beige            271
schwarz          127
beige/schwarz     60
braun             17
gestromt           7
Name: color, dtype: int64

In [16]:
pd.crosstab(pugs.gender, pugs.dog_gender)

dog_gender    m    w
gender
m            74   55
w           220  182

## 9) Translate the gender columns
Convert all instances of `m` to `M` and `w` to `F` in the pug data.

In [17]:
dogs.head()

,id,age,gender,district,quarter,breed1,breed1_hybrid,breed2,breed_type,dog_year,dog_gender,color,year
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,K,2011,w,schwarz/braun,2015
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,K,2002,w,brindle,2015
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,I,2012,w,braun,2015
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,I,2010,w,schwarz,2015
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,K,2011,m,schwarz/weiss,2015

In [18]:
# There are several ways to do this. I'll do each column one of the two more common ways:
dogs.gender = dogs.gender.map({'m': 'M', 'w': 'W'})
dogs.dog_gender = np.where(dogs.dog_gender == 'm', 'M', 'W')

## 10) Translate colors
Still using the pug data. Use the provided data dictionary as a guide. Use this to translate each dogs color into English. For colors not in this dictionary, put `"other"`.

_Hint:_ I'm asking you to perform a merge, here.

_Double Hint:_ Think _very_ carefully about what kind of merge to use here.

In [19]:
colors_trans = pd.DataFrame({
    'color_de': ['beige', 'schwarz', 'beige/schwarz', 'braun', 'gestromt', 'braun/schwarz'],
    'color_en': ['faun', 'black', 'faun/black', 'brown', 'spotted', 'brown/black']
})

In [20]:
colors_trans

        color_de     color_en
0          beige         faun
1        schwarz        black
2  beige/schwarz   faun/black
3          braun        brown
4       gestromt      spotted
5  braun/schwarz  brown/black

In [21]:
pugs_en = pd.merge(pugs, colors_trans, how='left', left_on='color', right_on='color_de')

In [22]:
pugs_en.color_en.fillna("other", inplace=True)

In [23]:
pugs_en.color_en.value_counts(dropna=False)

faun           271
black          127
faun/black      60
other           43
brown           17
spotted          7
brown/black      6
Name: color_en, dtype: int64

In [24]:
pugs_en.head()

,id,age,gender,district,quarter,breed1,breed1_hybrid,breed2,breed_type,dog_year,dog_gender,color,year,color_de,color_en
0,6321,51-60,w,8.0,81.0,Mops,NaN,NaN,K,2011,m,beige,2015,beige,faun
1,6469,41-50,m,11.0,111.0,Mops,NaN,NaN,K,2011,m,beige,2015,beige,faun
2,65665,61-70,w,8.0,82.0,Mops,NaN,NaN,K,2002,m,beige,2015,beige,faun
3,65665,61-70,w,8.0,82.0,Mops,NaN,NaN,K,2002,m,schwarz,2015,schwarz,black
4,66524,51-60,w,12.0,123.0,Mops,NaN,Chihuahua,K,2013,m,blue/merle,2015,NaN,other

## Grande Finale
This problem is going to involve a few steps. Read carefully. Pick apart each task and solve them one at a time. **This pertains to the full dataset, no longer just pugs.**

* Create a new column, `age_num`, which is the age of the owner. To do this, you'll calculate the average of the endpoints for the numbers in the `age` column. For example, `51-60` => `55.5`. I'll give you two hints on how to do this:
    - Create some sort of dictionary as in the last problem, and merge. (This is brute force, and requires a lot of work and is not extensible).
    - Create a function that will compute this for an individual string as input, and returns the approrpiate number. While this might sound more difficult, it actually involves less work, is cleaner, and is more extensible.
        - If you'd like a hint, I wrote a function for you in the `age_map.py` file. Read it in via an import. I'd like for you to write your own, though.
* Create a new column, `dog_age`, which is the age of the dogs _at that time_. You may use the dog's year of birth and the "year" column you made in part 3 to compute this.
* Take a look at this new `dog_age` variable. Drop the ones that make no sense and are likely the result of data errors.
* Subset to only include pugs (`Mops`), shiba inus (`Shiba Inu`), any dog with the word "Retriever" in its name, and any dog with the word "Terrier" in its name.
    - _Hint:_ Check out the `.str.contains()` method.
* Keep only breeds with more than 100 occurances.
* With this data subset, compute the average human and dog age for each breed.

In [25]:
def age_map(age_str):
    try:
        lower, upper = age_str.split("-")
    except:
        return np.nan
        
    return (int(lower) + int(upper)) / 2

In [26]:
dogs['age_num'] = dogs.age.apply(age_map)
dogs['dog_age'] = dogs.year - dogs.dog_year

In [27]:
dogs.dog_age.value_counts()

 3       1779
 4       1755
 5       1749
 2       1682
 6       1653
 7       1643
 8       1548
 1       1463
 9       1459
 10      1373
 11      1264
 12      1113
 13       911
 14       635
 15       414
 16       235
 0        195
 17       113
 18        50
 19        16
 20         4
 21         2
-1          1
 53         1
 22         1
 36         1
 2007       1
 35         1
-2997       1
-2996       1
 2014       1
Name: dog_age, dtype: int64

In [28]:
dogs_sub = dogs.loc[dogs.dog_age.between(0, 22), :]

In [29]:
is_pug = dogs_sub.breed1 == 'Mops'
is_shiba = dogs_sub.breed1 == 'Shiba Inu'
is_retriever = dogs_sub.breed1.str.contains('Retriever')
is_terrier = dogs_sub.breed1.str.contains("Terrier")

dogs_sub = dogs_sub.loc[is_pug | is_shiba | is_retriever | is_terrier, :]

In [30]:
breed_counts = dogs_sub.breed1.value_counts()
top_dogs = breed_counts[breed_counts > 100].index

In [31]:
good_dogs = dogs_sub.loc[dogs_sub.breed1.isin(top_dogs), :]

In [32]:
good_dogs.breed1.value_counts()

Labrador Retriever             1322
Jack Russel Terrier             886
Yorkshire Terrier               872
Mops                            530
Golden Retriever                491
West Highland White Terrier     296
Terrier                         179
Cairn Terrier                   154
Tibet Terrier                   138
Flat Coated Retriever           137
Parson Russell Terrier          135
Parson Jack Russell Terrier     116
Name: breed1, dtype: int64

In [33]:
good_dogs.groupby('breed1').agg({'age_num': 'mean', 'dog_age': 'mean'})

                               age_num   dog_age
breed1
Cairn Terrier                63.292208  9.733766
Flat Coated Retriever        54.259124  6.291971
Golden Retriever             52.648676  7.645621
Jack Russel Terrier          48.852144  8.247178
Labrador Retriever           51.044629  7.148260
Mops                         43.254717  6.103774
Parson Jack Russell Terrier  48.948276  8.017241
Parson Russell Terrier       47.129630  5.762963
Terrier                      50.807263  8.837989
Tibet Terrier                58.905797  9.253623
West Highland White Terrier  56.378378  9.621622
Yorkshire Terrier            50.683486  6.938073